@import "tailwindcss";

@theme {
  --color-primary: #CC0101; /* Mosaique Red */
  --color-primary-green: #11d442; /* Original TuniBless Green */
  --color-background-light: #f6f8f6;
  --color-background-dark: #0A0A0A;
  --color-slate-950: #020617;
  --font-display: "Inter", sans-serif;
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    font-family: var(--font-display);
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
